* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    /* background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);  */
    /* color: white !important; */
    /* background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );     */
    /* animation: bg-animation 5s infinite alternate; */

    /* background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% ); */

    /* background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% ); */

    /* background-image: linear-gradient( 109.6deg,  rgba(119,44,232,0.68) 11.5%, rgba(119,44,232,1) 91.2% ); */

    background-color: #fffde7 !important;
}

/* @keyframes bg-animation {
    0% {
        
    }

    100% {
       
    }
} */


.column-content {
    /* border: solid 1px; */
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
    /* background-color: whitesmoke; */
    background-color: #f9fbe7;
    color: white;
    

    max-height: 100vh;
    overflow-y: auto;
}



.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #303f9f;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.column-header .text-center {
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
}

.column-header i {
    margin-left: auto;
}

.task-card {
    /* border: solid 1px !important; */
    /* border-color: #00008B !important; */
    /* margin-top: 15px; */

    /* background-color: slateblue !important; */
    /* color: white !important; */


    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

.highlight {
    background-color: yellow !important; /* Highlight color */
}

#todo-container>div>button {
    width: 100%;
}


#create-task-form-container {
    /* color: white;
    background-color:#800080; */
    padding: 50px 70px 50px 70px;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;


    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#new-task-form button{
    background-color: #303f9f;
    color: white;
}

.inactive{
    display: none !important;
}

#remove-form-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
}

.task-action-div{
    display: flex;
}

.task-action-button-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;

    background-color: #ffffff;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-action-button{
     /* background-color: #303f9f; */
    /* color: black; */
    
    padding: 4px 10px;
    /* margin: 3px; */
   
    border: none;
    /* border-radius: 20%; */
}

.task-action-button:hover{
    background-color: #303f9f;
    color: white;
}
.task-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* RESPONSE ON DIFFERENT SCREEN SIZE */
@media (max-width:992px) {
    #done-container{
        margin-top: 20px;
    }

    #create-task-form-container{
        width: 70%;
    }
}

@media (max-width:574px) {
    #doing-container{
        margin-top: 20px;
    }

    #create-task-form-container{
        width: 80%;
        padding: 30px 40px 30px 40px;
    }
}