* {
    /* color: red; */
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    /* background-color: black !important; */
    /* background-color:#ADD8E6 !important; */
    /* background-color:#87CEEB !important; */
    /* background-color:#00BFFF !important; */
    /* background-color:#1E90FF !important; */
    /* background-color:#4682B4 !important; */
    /* background-color:#6495ED !important; */
    /* background-color:#7B68EE !important; */
    /* background-color:#4169E1 !important; */
    /* background-color:#0000CD !important; */
    /* background-color: #00008B !important; */


    /* lets try gradiend colors */
    /* background-image: linear-gradient(60deg, lightblue, orange); */
    /* background-image: linear-gradient(60deg, #a1c4fd, #c2e9fb); */
/* background-image: linear-gradient(60deg, #56ccf2, #2f80ed); */
/* background-image: linear-gradient(60deg, #ff9a9e, #fad0c4); */
/* background-image: linear-gradient(60deg, #a8e063, #56ab2f); */
/* background-image: linear-gradient(60deg, #89f7fe, #66a6ff); */
            background-image: linear-gradient(60deg, #ff9966, #ff5e62);
            /* background-image: linear-gradient(60deg, #7f00ff, #e100ff); */
            /* background-image: linear-gradient(60deg, #f6d365, #fda085); */
/* background-image: linear-gradient(60deg, #43c6ac, #191654); */
/* background-image: linear-gradient(60deg, #cfd9df, #e2ebf0); */
/* background-image: linear-gradient(60deg, #f9f9f9, #f5f7fa, #cfd9df); */
/* background-image: linear-gradient(60deg, #ff9a9e, #fecfef, #feada6); */
/* background-image: linear-gradient(60deg, #ffecd2, #fcb69f, #ff9a9e); */
/* background-image: linear-gradient(60deg, #a8edea, #fed6e3, #fbc2eb); */
/* background-image: linear-gradient(60deg, #84fab0, #8fd3f4, #8ec5fc); */
/* background-image: linear-gradient(60deg, #c1dfc4, #deecdd, #97c1a9); */
/* background-image: linear-gradient(60deg, #d4fc79, #96e6a1, #4caf50); */
                /* background-image: linear-gradient(60deg, #6a11cb, #2575fc, #1b1b1b); */
/* background-image: linear-gradient(60deg, #ff758c, #ff7eb3, #ff9898); */
/* background-image: linear-gradient(60deg, #ffafbd, #ffc3a0, #ff9a9e); */

    color: white !important;

    /* animation: bg-animation 5s infinite alternate; */
}

/* @keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
} */

/* .column{
    border: solid 1px;
} */

.column-content {
    border: solid 1px;
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: whitesmoke;
    color: black;
}

.task-card {
    border: solid 1px !important;
    border-color: #00008B !important;
    margin-top: 15px;

    background-color: slateblue !important;
    color: white !important;
}

#todo-container>div>button {
    width: 100%;
}


#create-task-form-container {
    /* background-color: aqua; */
    color: white;

    /* background-color: black !important; */
    /* background-color:#ADD8E6 !important; */
    /* background-color:#87CEEB !important; */
    background-color:#00BFFF !important;
    /* background-color:#1E90FF !important; */
    /* background-color:#4682B4 !important; */
    /* background-color:#6495ED !important; */
    /* background-color:#7B68EE !important; */
    /* background-color:#4169E1 !important; */
    /* background-color:#0000CD !important; */

    padding: 20px 30px 20px 30px;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.inactive{
    display: none !important;
}

#remove-form-button {
    position: absolute;
    top: 5px;
    right: 10px;
    /* background-color: red; */
    /* Optional, for visual purposes */
    /* color: white; */
    /* Optional, for visual purposes */
    border: none;
    cursor: pointer;
}

#task-action-div{
    display: flex;
    /* background-color: yellow; */
}

#task-action-button-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 10px;
}

/* #task-action-toggle-button{
    width: 10px;
} */

.task-action-button{
    padding: 8px;
    margin: 3px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20%;
    opacity: 0.8;
}

#task-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
